<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('partials/header') %>
  <body>
    <div class="jumbotron centered">
      <div class="container">
        <i class="fas fa-key fa-6x"></i>
        <h1 class="display-3">Reset your password</h1>
        <p class="lead">
          We’ll send a verification code to your registered email.
        </p>
      </div>
    </div>

    <% if (locals.success || locals.error) { %>
    <div class="container" style="max-width: 560px">
      <div
        class="alert <%= locals.error ? 'alert-danger' : 'alert-success' %> center-block"
      >
        <%= locals.error || locals.success %>
      </div>
    </div>
    <% } %>

    <div class="form-panel">
      <form action="/get-otp" method="POST">
        <div class="form-group">
          <label for="email">Email address</label>
          <input
            required
            autofocus
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="you@example.com"
          />
        </div>
        <% if (locals.success) { %>
        <script>
          setTimeout(() => {
            window.location.href = '/verify-otp'
          }, 3000)
        </script>
        <% } %>

        <div class="text-right">
          <button class="btn btn-theme">Send verification code</button>
        </div>
      </form>
    </div>
  </body>
</html>
