<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('partials/header') %>
  <body>
    <div class="get-code-container">
      <form method="post" action="/get-login-code" class="get-code-form">
        <div class="input-wrapper">
          <label for="email">Email:</label>
          <input name="email" placeholder="Enter your email" />
        </div>
        <% if (locals.success || locals.error) { %>
        <span style="color:<%= locals.error ? 'red' : 'green' %>">
          <%= locals.error || locals.success %>
        </span>

        <% if (locals.success) { %>
        <script>
          setTimeout(() => {
            window.location.href = '/verify-otp'
          }, 3000)
        </script>
        <% } %> <% } %>

        <button type="submit" class="login-code-btn">Send Code</button>
      </form>
    </div>
  </body>
</html>
