<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('partials/header') %>
  <body>
    <div class="jumbotron centered">
      <div class="container">
        <i class="fas fa-key fa-6x"></i>
        <h1 class="display-3">Choose a new password</h1>
        <p class="lead">Enter a secure password and confirm.</p>
      </div>
    </div>

    <% if (locals.success || locals.error) { %>
    <div class="container" style="max-width: 560px">
      <div
        class="alert <%= locals.error ? 'alert-danger' : 'alert-success' %> center-block"
      >
        <%= locals.error || locals.success %>
      </div>
    </div>
    <% } %>

    <div class="form-panel">
      <form action="/reset-password" method="POST">
        <div class="form-group">
          <label for="password">New password</label>
          <input
            required
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="New password"
          />
        </div>
        <div class="form-group">
          <label for="confirm">Confirm password</label>
          <input
            required
            type="password"
            class="form-control"
            id="confirm"
            name="cpassword"
            placeholder="Confirm password"
          />
        </div>
        <div class="text-right">
          <button class="btn btn-theme">Reset password</button>
        </div>
      </form>
    </div>
  </body>
</html>
