<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('partials/header') %>
  <body>
    <div class="get-code-container">
      <form method="post" action="/reset-password" class="get-code-form">
        <div class="form-container">
          <div class="input-wrapper">
            <label for="password">Password:</label>
            <input name="password" placeholder="New Password" type="password" />
          </div>
          <div class="input-wrapper">
            <label for="cpassword">Confirm Password:</label>
            <input
              name="cpassword"
              placeholder="Confirm Password"
              type="password"
            />
          </div>
        </div>
        <% if (locals.success || locals.error) { %>
        <span style="color:<%= locals.error ? 'red' : 'green' %>">
          <%= locals.error || locals.success %>
        </span>

        <% if (locals.success) { %>
        <script>
          setTimeout(() => {
            window.location.href = '/login'
          }, 3000)
        </script>
        <% } %> <% } %>

        <button type="submit" class="login-code-btn">Reset Password</button>
      </form>
    </div>
  </body>
</html>
