<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('partials/header') %>
  <body>
    <div class="get-code-container">
      <form method="post" action="/verify-otp" class="get-code-form">
        <div class="input-wrapper">
          <label for="Code:">OTP:</label>
          <input name="otp" placeholder="Enter your otp" />
        </div>
        <% if (locals.success || locals.error) { %>
        <span style="color:<%= locals.error ? 'red' : 'green' %>">
          <%= locals.error || locals.success %>
        </span>
        <% if (locals.success) { %>
        <script>
          setTimeout(() => {
            window.location.href = '/reset-password'
          }, 3000)
        </script>
        <% } %> <% } %>
        <button type="submit" class="login-code-btn">Verify Code</button>
      </form>
    </div>
  </body>
</html>
